<?xml version="1.0" encoding="UTF-8"?>

<configuration>

	<property name="APP_Name" value="learning-spring-boot" />
	<property name="LOG_HOME" value="logs/" />
	<include resource="org/springframework/boot/logging/logback/defaults.xml" />
	<springProperty scope="context" name="springAppName"
		source="spring.application.name" />

	<appender name="file"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<pattern>
				[ %-5level] [%date{yyyy-MM-dd HH:mm:ss.SSS}] %logger{96} [%line] - %msg%n
			</pattern>
			<charset>UTF-8</charset>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/${APP_Name}-%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>128 MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<MaxHistory>30</MaxHistory>
		</rollingPolicy>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
		<prudent>true</prudent>
	</appender>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>
				[ %-5level] [%date{yyyy-MM-dd HH:mm:ss.SSS}] %logger{96} [%line] - %msg%n
			</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>

	<appender name="errorFile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<pattern>
				[ %-5level] [%date{yyyy-MM-dd HH:mm:ss.SSS}] %logger{96} [%line] - %msg%n
			</pattern>
			<charset>UTF-8</charset>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/${APP_Name}-error-%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>128 MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<MaxHistory>30</MaxHistory>
		</rollingPolicy>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
		<prudent>true</prudent>
	</appender>

	<root level="INFO">
		<appender-ref ref="file" />
		<appender-ref ref="errorFile" />
		<appender-ref ref="STDOUT" />
	</root>
  
<!-- 	<logger name="org.hibernate" level="WARN" />
	<logger name="org.springframework" level="WARN" /> -->
	
	 <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="org.springframework.web" level="DEBUG"/>

</configuration>